<!-- Header container with flexbox, centering items vertically, spacing them out horizontally, with a white background, padding, and shadow -->
<header class="flex items-center justify-between bg-white p-4 shadow-md">
  <div class="flex items-center bg-gray-800 title-container title-padding rounded-md">
    <h1 class="title-text text-white font-bold">SERVICIO REGISTRO TECNOLÓGICO</h1>
    <div class="black-rectangle bg-gray-800"></div>
  </div>
  <div class="flex justify-center w-full max-w-md">
    <input type="text" placeholder="Buscar..." class="w-full p-2 border border-gray-300 rounded-md">
  </div>
  <div class="flex items-center space-x-4">
    <!-- Botón de configuración -->
    <button class="flex items-center justify-center h-10 w-10 rounded-full bg-gray-200 hover:bg-gray-300 focus:outline-none">
      <img src="assets/config.png" alt="Configuración">
    </button>
    <!-- Botón de alerta -->
    <button class="flex items-center justify-center h-10 w-10 rounded-full bg-gray-200 hover:bg-gray-300 focus:outline-none">
      <img src="assets/bell.png" alt="alertas">
    </button>
  </div>
</header>

