<header class="flex flex-col lg:flex-row items-center justify-between bg-white p-4 shadow-md">
  <!-- Logo y título -->
  <div class="flex items-center justify-center lg:justify-start bg-gray-800 title-container title-padding rounded-md mb-2 lg:mb-0 lg:mr-4">
    <h1 class="title-text text-white font-bold">SERVICIO REGISTRO TECNOLÓGICO</h1>
    <div class="black-rectangle bg-gray-800"></div>
  </div>

  <!-- Barra de búsqueda -->
  <div class="flex justify-center w-full max-w-md lg:max-w-full lg:w-auto mb-2 lg:mb-0 lg:mx-4">
    <input type="text" placeholder="Buscar..." class="w-full p-2 border border-gray-300 rounded-md">
  </div>

  <!-- Botones de configuración y alerta -->
  <div class="flex items-center space-x-4">
    <!-- Botón de configuración -->
    <button class="flex items-center justify-center h-10 w-10 rounded-full bg-gray-200 hover:bg-gray-300 focus:outline-none">
      <img src="assets/config.png" alt="Configuración">
    </button>
    <!-- Botón de alerta -->
    <button class="flex items-center justify-center h-10 w-10 rounded-full bg-gray-200 hover:bg-gray-300 focus:outline-none">
      <img src="assets/bell.png" alt="alertas">
    </button>
  </div>
</header>
