.sidebar {
  display: flex;
  flex-direction: column;
  height: 87vh;
  width: 300px;
  background-color: rgba(31, 42, 55);
  color: white;
}

.menu {
  flex-grow: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.menu-item img {
  margin-right: 10px;
}

.menu-item:hover,
.menu-item.active-link {
  background-color: #1e5f9d;
}

.profile {
  margin-bottom: 10px;
  padding: 0px;
}

.active-link {
  background-color: #4299e1; /* Cambia el color de fondo cuando está activo */
  padding: 1.5rem 7rem; /* Ajusta el relleno para cambiar el tamaño del área activa */
  border-radius: 0.5rem; /* Ajusta el radio de las esquinas para hacerlo más redondeado */
  margin: -0.5rem -5rem; /* Compensa el padding adicional para que el texto no se mueva */
}


